@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal:#ffed00;
    --cor1:#00f6ff;
    --cor2:#1c1c0d;
    --cor3:#2f3314;
    --cor4:#000000;
    --cor5:#FFFFFF;
    --cor6:#FF0031;
}

body {
    font-size: 1rem;
    font-family: 'Roboto'; /*Roboto*/
}

section {
    padding-bottom: 5rem;
}

.display-4 {
    text-shadow: -5px 5px var(--preto-claro);
}

#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--cor2);
    background-size: 180px 180px; /* Ajuste o tamanho conforme necessário*/
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /* Garante que o conteúdo fica acima das imagens de backgronde se houverem */
}






#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco) ;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor1) ;
    border: none;
    font-weight: bold;
}

 .form-control{
    background-color: var(--cor3) ;

 }
     
